<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MoneyPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <MoneyPro.Properties.Settings>
      <setting name="txtUsuario" serializeAs="String">
        <value/>
      </setting>
      <setting name="comboAcesso" serializeAs="String">
        <value/>
      </setting>
      <setting name="chkLembrarUsuario" serializeAs="String">
        <value>False</value>
      </setting>
    </MoneyPro.Properties.Settings>
  </userSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsDownloadInfsSoap"/>
        <binding name="FachadaWSSGSSoapBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="FachadaWSSGSSoapBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sistemas.cvm.gov.br/webservices/Sistemas/SCW/CDocs/WsDownloadInfs.asmx" binding="basicHttpBinding" bindingConfiguration="WsDownloadInfsSoap" contract="ServiceReferenceCVM.WsDownloadInfsSoap" name="WsDownloadInfsSoap"/>
      <endpoint address="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS" binding="basicHttpBinding" bindingConfiguration="FachadaWSSGSSoapBinding" contract="ServiceBancoCentralCotacoes.FachadaWSSGS" name="FachadaWSSGS"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.3460.0.14" newVersion="17.3460.0.14"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
