<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="byMarc.Net2.WinControls.ToolStrip.Controls" version="2017.811.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-rc.2.25502.107" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.TimeProvider" version="10.0.0-rc.2.25502.107" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0-rc.2.25502.107" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0-rc.2.25502.107" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net481" />
  <package id="Std.UriTemplate" version="2.0.8" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.ClientModel" version="1.7.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0-rc.2.25502.107" targetFramework="net481" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="10.0.0-rc.2.25502.107" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Memory.Data" version="10.0.0-rc.2.25502.107" targetFramework="net481" />
  <package id="System.Net.Http.WinHttpHandler" version="10.0.0-rc.2.25502.107" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.ProtectedData" version="10.0.0-rc.2.25502.107" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="10.0.0-rc.2.25502.107" targetFramework="net481" />
  <package id="System.Text.Json" version="10.0.0-rc.2.25502.107" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net481" />
</packages>